{% extends 'index.html' %}

{% block 'body' %}
     <div class="row">
            <div class="col-lg-6">
            <img src="{{animal.image_url}}" style="width: 100%" alt="">
        </div>
        <div class="col-lg-6">
            <h3>Name: {{animal.name}}</h3>
            <h3>Breed: {{animal.breed}}</h3>
            {% if animal.favorite_food %}
            <h3>Favorite Food: {{animal.favorite_food}}</h3>
            {% endif %}
            <h3>Age: {{animal.age}}</h3>
            <p>Description: {{animal.description}}</p>

            <a href="{% url 'animal_edit' animal.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'animal_delete' animal.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>

{% endblock %}