
{% extends 'index.html' %}
{% block 'body' %}

    {% if foods %}
    <div class="row">
        {% for a in foods %}
         <div class="col-lg-4">
              <div class="card" style="width: 18rem;">
          <img src="{{a.image_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{a.price}}</h5>
            <p class="card-text">{{a.name}}</p>
              <p class="card-text">{{a.company}}</p>
            <a href="{% url 'food_detail' a.id  %}" class="btn btn-primary">See details</a>
          </div>
        </div>
         </div>
        {% endfor %}
    </div>

    {% else %}
    <h1>No foods. <a href="{% url 'food_add' %}">Create one?</a> </h1>
    {% endif %}
    {% endblock %}