{% extends 'index.html' %}
{% block 'body' %}
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>{{user.name}}!</h1>
    </div>
    <div class="w3-padding-64">
      <a href="{% url 'profile_edit' user.id %}" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Edit profile</a>
      <a href="{% url 'password_change' %}" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Change Password</a>
      <a href="{% url 'password_reset' %}" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Reset password</a>
      <a href="{% url 'logout' %}" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Logout</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>About Me</h1>
      <img src="{{user.picture}}" alt="Person" style="width:50%">
      <div class="w3-left-align w3-padding-large">
        <p>Age:{{user.age}}</p>
        <p>Description:{{user.description}}.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}